.tickerr-page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  .tickerr-page-content {
    animation: fadeIn 250ms ease-in;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .tickerr-page-message {
    @include centered;
    animation: fadeInCentered 250ms ease-in;
    z-index: 2;

    h1 {
      color: gray(240);
      font-size: 2em;
      font-weight: 400;
    }
  }

  .tickerr-legal-policy {
    background-color: white;
    border-radius: 10px;
    box-shadow: $shadow3;
    margin: 70px auto;
    margin-bottom: 20px;
    max-width: 1200px;
    width: calc(100% - 40px);
  }
}